.result{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    flex-direction: column;
}


@media only screen and (max-width:750px){
    .result{
        font-size: 8vw;
    }
}